<h5 class="card-header">
  <%= image_tag(user.avatar, class: "ui-w-100-forced rounded-circle mr-3", style: "width: 90px; height: 90px") %>
  <%= link_to user.name, user == current_user ? user_profile_path : user_user_path(user) %>
  <br>
  <span style="font-size:14px;">Seguidores:</span> <span style="font-size:16px;" class="badge badge-info mr-3"><%= user.followers.count %></span>
  <span style="font-size:14px;">Seguindo:</span> <span style="font-size:16px;" class="badge badge-info"><%= user.following.count %></span>
</h5>
